@model QuanLyThongTinNguoiDung.Models.UserModel

@{
    
}

<div class="container d-flex justify-content-center align-items-center">

    <div class="w-75">
        <h2>Thêm mới người dùng</h2>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="w-100">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"> Họ tên</label>
                        <input asp-for="HoTen" class="form-control mt-1" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Email" class="control-label"> Email</label>
                        <input asp-for="Email" class="form-control mt-1" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="NgaySinh" class="control-label">Ngày tháng năm sinh</label>
                        <input asp-for="NgaySinh" class="form-control mt-1 " max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1920-01-01" />
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="SoDienThoai" class="control-label">Điện thoại</label>
                        <input asp-for="SoDienThoai" class="form-control mt-1" />
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="DiaChi" class="control-label"> Địa chỉ</label>
                        <input asp-for="DiaChi" class="form-control mt-1" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end mt-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Trở lại trang trước</a>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
